* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f3f3f3;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	color: #969696;
}
ul {
	list-style-type: none;
	list-style-position: inside;
}
.design .main p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
a {
	padding: 0 0 30px 0;
}
.primary {
	color: #2e98c2;
}
.secondary {
	color: #a5d4aa;
}
.tertiary {
	color: #342c2a;
}
a {
	color: #2e98c2;
	text-decoration: none;
}
