.flex {
	display: flex;
	/* flex-direction: row; */
}
.header {
	padding: 30px 0;
}
.main {
	background-color: #fff;
}
.logo {
	margin-right: auto;
	font-weight: bold;
	text-transform: uppercase;
}
.logo a {
	color: inherit;
}
.logo a:hover {
	opacity: 0.7;
	text-decoration: none;
}
.gnav {
	display: flex;
}
.gnav-link {
	margin-left: 20px;
}
.footer {
	background-color: #342c2a;
	margin: 30px 0 0 0;
	padding: 30px 0;
}
.footer-nav {
	margin-left: auto;
	display: flex;
	justify-content: space-between;
}
.footer-nav-link {
	color: #fff;
	margin-left: 20px;
}

.lists-title {
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 120%;
	margin-bottom: 10px;
}
.list {
	line-height: 3rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.list-item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 1024px) {
	.container {
		width: 960px;
		margin: 0 auto;
	}
	.content {
		display: flex;
	}
	.main {
		width: 70%;
		padding: 1rem;
		background-color: #fff;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	}
	.sidenav {
		width: 30%;
		margin-left: 30px;
	}
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: auto;
		grid-gap: 1rem;
	}
}
@media (max-width: 767px) {
}
